body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    color: #343a40;
}
.navbar-brand {
color: aqua;

}
.network-animation img {
    max-width: 100%;
    height: auto;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    background-color: #343a40;
    color: #fff;
}
